[Unit]
Description=3proxy Proxy Server
After=network.target

[Service]
Type=forking
User=proxy3
Group=proxy3
ExecStart=/usr/local/bin/3proxy /usr/local/etc/3proxy.cfg
Restart=on-failure

[Install]
WantedBy=multi-user.target
